@import "tailwindcss";

/* Theme */
@theme {
	/* Color */
	--color-site-black-100: #1e1e1e;
	--color-site-yellow-100: #fdd000;
	--color-site-gray-100: #f2f2f2;
	--color-site-gray-200: #dedede;
	--color-site-gray-300: #8e8e8e;

	/* Text Setting */
	--text-site-h1: calc(36 / 16 * 1rem);
	--text-site-h1--font-weight: 800;
	--text-site-h1--line-height: 1.8;
	--text-site-h1--letter-spacing: 0;
	--text-site-h2: calc(28 / 16 * 1rem);
	--text-site-h2--font-weight: 800;
	--text-site-h2--line-height: 1.8;
	--text-site-h2--letter-spacing: 0;
	--text-site-h3: calc(24 / 16 * 1rem);
	--text-site-h3--font-weight: 800;
	--text-site-h3--line-height: 1.8;
	--text-site-h3--letter-spacing: 0;
	--text-site-h4: calc(20 / 16 * 1rem);
	--text-site-h4--font-weight: 800;
	--text-site-h4--line-height: 1.8;
	--text-site-h4--letter-spacing: 0;
	--text-site-h5: calc(18 / 16 * 1rem);
	--text-site-h5--font-weight: 800;
	--text-site-h5--line-height: 1.8;
	--text-site-h5--letter-spacing: 0;
	--text-site-h6: calc(16 / 16 * 1rem);
	--text-site-h6--font-weight: 700;
	--text-site-h6--line-height: 1.8;
	--text-site-h6--letter-spacing: 0;
	--text-site-body: calc(14 / 16 * 1rem);
	--text-site-body--font-weight: 600;
	--text-site-body--line-height: 2;
	--text-site-body--letter-spacing: 0;
	--text-site-body-tight: calc(14 / 16 * 1rem);
	--text-site-body-tight--font-weight: 600;
	--text-site-body-tight--line-height: 1.5;
	--text-site-body-tight--letter-spacing: 0;
	--text-site-annotation: calc(12 / 16 * 1rem);
	--text-site-annotation--font-weight: 600;
	--text-site-annotation--line-height: 1.5;
	--text-site-annotation--letter-spacing: 0;
	--text-site-tag: calc(10 / 16 * 1rem);
	--text-site-tag--font-weight: 800;
	--text-site-tag--line-height: 1;
	--text-site-tag--letter-spacing: 0;
	--text-site-en-3xl: calc(140 / 16 * 1rem);
	--text-site-en-3xl--font-weight: 500;
	--text-site-en-3xl--line-height: 1;
	--text-site-en-3xl--letter-spacing: 0;
	--text-site-en-2xl: calc(70 / 16 * 1rem);
	--text-site-en-2xl--font-weight: 500;
	--text-site-en-2xl--line-height: 1;
	--text-site-en-2xl--letter-spacing: 0;
	--text-site-en-xl: calc(48 / 16 * 1rem);
	--text-site-en-xl--font-weight: 500;
	--text-site-en-xl--line-height: 1;
	--text-site-en-xl--letter-spacing: 0;
	--text-site-en-l: calc(28 / 16 * 1rem);
	--text-site-en-l--font-weight: 500;
	--text-site-en-l--line-height: 1;
	--text-site-en-l--letter-spacing: 0;
	--text-site-en-m: calc(20 / 16 * 1rem);
	--text-site-en-m--font-weight: 500;
	--text-site-en-m--line-height: 1;
	--text-site-en-m--letter-spacing: 0;
	--text-site-en-s: calc(14 / 16 * 1rem);
	--text-site-en-s--font-weight: 500;
	--text-site-en-s--line-height: 1;
	--text-site-en-s--letter-spacing: 0;
	--text-site-en-xs: calc(12 / 16 * 1rem);
	--text-site-en-xs--font-weight: 500;
	--text-site-en-xs--line-height: 1;
	--text-site-en-xs--letter-spacing: 0;

	/* Font Family */
	--font-display: "Helvetica Neue", Helvetica, Arial,
		"Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;

	/* Transition Default */
	--default-transition-duration: 400ms;
	--default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	/* Easing */
	--ease-bounce: linear(
		0,
		0.00003,
		0.00013,
		0.00029 0.18%,
		0.00055 0.25%,
		0.00084,
		0.0012,
		0.00161 0.43%,
		0.00217 0.5%,
		0.00272,
		0.00332,
		0.00399 0.68%,
		0.00483 0.75%,
		0.00562 0.81%,
		0.00662 0.88%,
		0.00753 0.94%,
		0.00866 1.01%,
		0.0097 1.07%,
		0.01097 1.14%,
		0.01212 1.2%,
		0.01353 1.27%,
		0.0148 1.33%,
		0.01634 1.4%,
		0.01772 1.46%,
		0.0194 1.53%,
		0.02089 1.59%,
		0.0227,
		0.02457,
		0.02651 1.8%,
		0.03028 1.93%,
		0.0346 2.07%,
		0.03884 2.2%,
		0.04364,
		0.04868,
		0.05396,
		0.05947 2.76%,
		0.06562 2.91%,
		0.07158 3.05%,
		0.0782,
		0.08506,
		0.09214,
		0.09944,
		0.10695,
		0.11467 3.95%,
		0.12312,
		0.13179,
		0.14066 4.43%,
		0.14745 4.55%,
		0.15493 4.68%,
		0.17024,
		0.18602 5.201%,
		0.20285 5.471%,
		0.22075 5.751%,
		0.23972 6.041%,
		0.25976 6.341%,
		0.28086 6.651%,
		0.29882 6.911%,
		0.31841 7.191%,
		0.33893 7.481%,
		0.36179 7.801%,
		0.40583 8.411%,
		0.49024 9.571%,
		0.52576 10.061%,
		0.56171 10.561%,
		0.59369 11.011%,
		0.61197 11.271%,
		0.6294 11.521%,
		0.64597,
		0.66237 12.001%,
		0.67793,
		0.69332,
		0.70852 12.691%,
		0.72289 12.911%,
		0.739,
		0.75486,
		0.77047 13.661%,
		0.78521,
		0.79971,
		0.81395,
		0.82792,
		0.84164,
		0.85508 15.102%,
		0.8677 15.332%,
		0.88059 15.572%,
		0.89267,
		0.9045,
		0.91605,
		0.92733,
		0.93834 16.722%,
		0.94953 16.962%,
		0.95997,
		0.97014,
		0.98003,
		0.98963,
		0.99896,
		1.008,
		1.01676,
		1.02525,
		1.03345,
		1.04138 19.262%,
		1.0454,
		1.04935 19.502%,
		1.05291 19.612%,
		1.05671 19.732%,
		1.06013 19.842%,
		1.0638 19.962%,
		1.06709 20.072%,
		1.07061,
		1.07405,
		1.07743 20.432%,
		1.08045 20.542%,
		1.08368,
		1.08684,
		1.08993 20.902%,
		1.0927 21.012%,
		1.09565,
		1.09853,
		1.10134,
		1.10408,
		1.10674,
		1.10934,
		1.11187,
		1.11433,
		1.11673,
		1.11905,
		1.12131,
		1.1235,
		1.12563,
		1.12769 22.692%,
		1.12984 22.822%,
		1.13177,
		1.13363,
		1.13543 23.182%,
		1.1373 23.312%,
		1.13897 23.432%,
		1.14071 23.562%,
		1.14224 23.682%,
		1.14384 23.812%,
		1.14526 23.932%,
		1.14672 24.062%,
		1.14801 24.182%,
		1.14934 24.312%,
		1.15089,
		1.15234,
		1.15368,
		1.15493,
		1.15609,
		1.15715,
		1.15811 25.433%,
		1.15856 25.513%,
		1.15904 25.603%,
		1.15944,
		1.15982,
		1.16017 25.843%,
		1.16055 25.933%,
		1.16086 26.013%,
		1.16118 26.103%,
		1.16144 26.183%,
		1.16172 26.273%,
		1.16194 26.353%,
		1.16216 26.443%,
		1.16233 26.523%,
		1.16251 26.613%,
		1.16264 26.693%,
		1.16277 26.783%,
		1.16286 26.863%,
		1.16294 26.953%,
		1.16299 27.033%,
		1.16302,
		1.16303,
		1.16302 27.303%,
		1.16299 27.383%,
		1.16293,
		1.16285,
		1.16275,
		1.16263,
		1.16248,
		1.16231,
		1.16213,
		1.16192,
		1.16169,
		1.16144 28.283%,
		1.16113 28.383%,
		1.16084 28.473%,
		1.16049 28.573%,
		1.15977,
		1.15896,
		1.15807,
		1.1571 29.333%,
		1.156,
		1.15482,
		1.15356 29.933%,
		1.1525,
		1.15139,
		1.15024 30.413%,
		1.14897,
		1.14765,
		1.14629,
		1.14488 31.093%,
		1.14335,
		1.14176,
		1.14014,
		1.13847 31.813%,
		1.13667,
		1.13483,
		1.13295 32.383%,
		1.13093,
		1.12887 32.783%,
		1.12698 32.963%,
		1.12496 33.153%,
		1.12084 33.533%,
		1.11628 33.943%,
		1.1114 34.373%,
		1.10655 34.793%,
		1.10117 35.254%,
		1.0955 35.734%,
		1.07914 37.114%,
		1.07396 37.554%,
		1.06941 37.944%,
		1.06422 38.394%,
		1.05945 38.814%,
		1.05487 39.224%,
		1.05059 39.614%,
		1.048 39.854%,
		1.04554,
		1.04312 40.314%,
		1.04083,
		1.03858,
		1.03636,
		1.03417 41.194%,
		1.03211 41.404%,
		1.02999 41.624%,
		1.028,
		1.02604,
		1.02412,
		1.02223,
		1.02038,
		1.01856,
		1.01677 43.094%,
		1.0147 43.344%,
		1.01276,
		1.01086,
		1.00901 44.064%,
		1.00714 44.314%,
		1.0054,
		1.0037,
		1.00206,
		1.00046,
		0.99891,
		0.99742 45.755%,
		0.99591 46.005%,
		0.99451,
		0.99317,
		0.99187 46.725%,
		0.99057 46.975%,
		0.98937 47.215%,
		0.98818 47.465%,
		0.98708 47.705%,
		0.98599 47.955%,
		0.98499 48.195%,
		0.98399,
		0.98305,
		0.98215,
		0.98131,
		0.98051,
		0.97976 49.695%,
		0.97903,
		0.97835,
		0.97772,
		0.97713,
		0.9766 50.995%,
		0.97596 51.335%,
		0.97539,
		0.9749,
		0.97448 52.385%,
		0.97413,
		0.97385,
		0.97364 53.465%,
		0.9735 53.835%,
		0.97343 54.215% 54.595%,
		0.9735,
		0.97363 55.376%,
		0.97384,
		0.97411 56.196%,
		0.97445 56.616%,
		0.97488 57.056%,
		0.97524,
		0.97565 57.736%,
		0.9761,
		0.9766 58.456%,
		0.97713 58.826%,
		0.97773 59.216%,
		0.97837 59.616%,
		0.97907 60.036%,
		0.98038 60.786%,
		0.98194 61.636%,
		0.98357 62.496%,
		0.98701 64.276%,
		0.9885 65.057%,
		0.99004 65.877%,
		0.99139 66.617%,
		0.99288 67.467%,
		0.99423 68.277%,
		0.99546 69.057%,
		0.9966 69.827%,
		0.99722,
		0.99781,
		0.99838,
		0.99891,
		0.99943 72.027%,
		0.9999,
		1.00035 72.887%,
		1.00078 73.327%,
		1.00117 73.757%,
		1.00155,
		1.0019,
		1.00223,
		1.00252 75.518%,
		1.0028,
		1.00306 76.418%,
		1.00329 76.878%,
		1.00363 77.668%,
		1.0039 78.468%,
		1.0041 79.288%,
		1.00424 80.128%,
		1.00432 80.988%,
		1.00433 81.888%,
		1.00428 82.828%,
		1.00417 83.808%,
		1.00404 84.578%,
		1.00388 85.389%,
		1.00368 86.249%,
		1.00343 87.189%,
		1.00293 88.889%,
		1.00156 93.309%,
		1.00119 94.569%,
		1.00087 95.74%,
		1.0006 96.83%,
		1.00036 97.9%,
		1.00015,
		0.99996
	);

	/* Text Shadow */
	--text-shadow-contact: 0 3em 0 var(--color-site-black-100), 0 0 0
		var(--color-site-black-100);
	--text-shadow-contact-hover: 0 0 0 #fff, 0 -3em 0 var(--color-site-black-100);
	--text-shadow-header: 0 1.5em 0 var(--color-site-black-100), 0 0 0
		var(--color-site-black-100);
	--text-shadow-header-hover: 0 0 0 var(--color-site-black-100), 0 -1.5em 0
		var(--color-site-black-100);
	--text-shadow-footer: 0 3em 0 var(--color-site-black-100), 0 0 0
		var(--color-site-black-100);
	--text-shadow-footer-hover: 0 0 0 var(--color-site-black-100), 0 -3em 0
		var(--color-site-black-100);
}
@media (max-width: 640px) {
	:root {
		/* Font */
		--text-site-h1: calc(28 / 16 * 1rem);
		--text-site-h2: calc(20 / 16 * 1rem);
		--text-site-h3: calc(18 / 16 * 1rem);
		--text-site-h4: calc(18 / 16 * 1rem);
		--text-site-h5: calc(14 / 16 * 1rem);
		--text-site-h6: calc(14 / 16 * 1rem);
		--text-site-body: calc(14 / 16 * 1rem);
		--text-site-body-tight: calc(14 / 16 * 1rem);
		--text-site-annotation: calc(12 / 16 * 1rem);
		--text-site-tag: calc(9 / 16 * 1rem);
		--text-site-en-3xl: calc(66 / 16 * 1rem);
		--text-site-en-2xl: calc(36 / 16 * 1rem);
		--text-site-en-xl: calc(32 / 16 * 1rem);
		--text-site-en-l: calc(20 / 16 * 1rem);
		--text-site-en-m: calc(20 / 16 * 1rem);
		--text-site-en-s: calc(12 / 16 * 1rem);
		--text-site-en-xs: calc(10 / 16 * 1rem);
	}
}
@media (prefers-color-scheme: light) {
	:root {
		--color-white: #1e1e1e;
		--color-site-black-100: #ffffff;
	}
}

/* Base Settings */
@layer base {
	:root {
		@apply scheme-light-dark;
	}

	/* Global */
	html {
		/* @apply scroll-smooth; */
		word-break: auto-phrase;
		scrollbar-gutter: stable;
	}
	body {
		@apply text-site-black-100 bg-white font-display overflow-x-hidden;
		text-size-adjust: 100%;
	}

	/* Show Focus Ring */
	:focus-visible {
		/* @apply outline outline-dashed outline-blue-200 outline-offset-2; */
		@apply outline-none;
	}

	/* Typography */
	:where(:root) {
		@apply wrap-anywhere;
		text-spacing-trim: trim-start;
		line-break: strict;
	}
	:where(h1, h2, h3, h4, h5, h6) {
		@apply text-pretty;
		font-kerning: normal;
		&:lang(ja) {
			font-feature-settings: "palt";
			word-break: auto-phrase;
		}
	}
	:where(p) {
		hyphens: auto;
		&:lang(ja) {
			font-kerning: none;
		}
		&:lang(en) {
			@apply text-pretty;
			font-kerning: normal;
		}
	}
	:where(pre) {
		text-spacing-trim: space-all;
	}

	/* Scroll Margin Top (Consider header height) */
	:where([id], :focus) {
		@apply scroll-mt-20 max-sm:scroll-mt-10;
	}
}

/* Components */
@layer components {
	/* Site Contents */
	.site-contents {
		@apply max-w-280 mx-auto max-sm:mx-9;
	}
}

/* Utilitiy Settings */
/* @layer utilities {
} */
